<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="author" content="Kimberley Chong">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>PSYC30021 2016 Semester 2 - Psychological Science: Theory & Practice</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

    <link href="{{url_for('static', filename='bootstrap.css')}}" rel="stylesheet">
     <script src="{{url_for('static', filename='jquery.min.js')}}" type="text/javascript"></script>
</head>

<body>
<div class="container">
    <div class="row">
        <center><h1>Thanks for your participation! &#9786;</h1></center>
        <br><br>
        <center><img src = "{{url_for('static', filename='image/badge.png')}}"></center>
        <br><br>
        <p>The purpose of this experiment is to investigate the role of attention in object-based memory tasks. This experiment is a replication of the groundbreaking study conducted by Rock and Gutman (1981). The purpose of the study is to investigate if your attention that was based on the colour you were assigned to, would hinder the perception of the other figure in the other colour that you have seen, but not paying attention to. To test that, we used a memory recognition test after the sequence of figures that contain figures that you have seen before and have not. You were not supposed to expect a memory test after the sequence of figures because we are testing the recognition aspect of the task and not memory.</p>
        <p>In the first practice trial, we required you to follow the instructions and pay attention to the colour you were assigned to and not the figure you choose to pay attention on. In the actual experiment, we collected data about the accuracy rate of your response of recognising the attended and unattended figures as well as the total time taken for you to finish the recognition test. The data will then be analysed for various factors that may affect your performance.</p>
        <br><br><br>
        <h4>Credits</h4>
        <h6>Programming: Kimberley Chong</h6>
        <h6>Images: Vivian Cho</h6>
        <h6>Words: Allen Zhao, Charlotte Ho, Dingding Mao, Lily Liang</h6>
        <br><br><br>
        <p><a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License</a>.</p>
    </div>
</div>
</body>

<footer class="container-fluid">
University of Melbourne 2016
</footer>

</html>